

{% include 'temp1.html.twig' %}
{# <div style ="margin-left: 1%; padding-top: 5%"> #}
    <div style ="margin-left: 23%; margin-right: 23%;  border: solid 1px #EA3D48; padding:2%; border-radius: 30px; margin-bottom: 25px;  ">


    {{ form_start(formAjouterCategorieAide,{'attr': {'novalidate': 'novalidate'}})}}

    <h1 style ="margin-bottom: 2%; text-align: center; color: #ee5057 ;  " > Ajouter Categorie d'Aide  </h1>

    {# { form_errors(formAjouterCategorieAide.titre) }#}
    {{ form_label(formAjouterCategorieAide.titre,"Titre") }}
    {{ form_widget(formAjouterCategorieAide.titre) }}



    {{ form_end(formAjouterCategorieAide) }}
</div>
{% include 'temp2.html.twig' %}