

{% include 'temp1.html.twig' %}
<div style ="margin-left: 1%; padding-top: 5%">

    {{ form_start(formAjouterCategorieAide,{'attr': {'novalidate': 'novalidate'}})}}

    <h1 style ="margin-bottom: 2%; text-align: center; color: #ee5057 ;  " > Ajouter Categorie d'Aide  </h1>

    {# { form_errors(formAjouterCategorieAide.titre) }#}
    {{ form_label(formAjouterCategorieAide.titre,"Titre") }}
    {{ form_widget(formAjouterCategorieAide.titre) }}



    {{ form_end(formAjouterCategorieAide) }}
</div>
{% include 'temp2.html.twig' %}