
{% include 'temp1.html.twig' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
<div class="content">
    <div>
        <h1 style ="margin-bottom: 2%; text-align: center; color: #d11414 ;">Statistiques des Soins Médecine Parallèle </h1>
    </div>
    <div class="table-responsive">
        <div class="form-group">
            <hr class="invis">
            <div class="container">
                <canvas id="soinMP" width="400" height="100"></canvas>
            </div>
        </div>
    </div>
</div>


<script>

    let aide = document.querySelector("#soinMP")
    let annGraph = new Chart(aide, {
        scaleFontColor: "black",
        type: "doughnut",
        data: {
            labels: {{ catAides|json_encode|raw }},
            datasets: [{
                label: "note",
                data: {{ aides|json_encode|raw }},
                backgroundColor: ['#d11414', '#3366CC', '#FF9900', '#109618'],
            }]
        },
        options: {
            width: 80,
            text: {
                display: true,
                color: '#f6f6f6',
            },
        }})
</script>

{% include 'temp2.html.twig' %}