{% extends 'base.html.twig' %}

{% block title %}New Societe{% endblock %}

{% block body %}
    <div class="tm-main-content" id="top">
        <div class="tm-top-bar-bg"></div>
        <div class="tm-top-bar" id="tm-top-bar">
            <!-- Top Navbar -->
            <div class="container">
                <div class="row">
                    {%  include('Bootstraptemplates/navbarfront.html.twig')  with { 'iduser': user.id }  %}
                </div>
            </div>
        </div>
    </div>
    <div class="tm-section tm-section-pad tm-bg-img ">


                <div class="tm-bg-white tm-p-4" style="width: 100%;">
                    <h1>{{message}}</h1>


                    <a href="{{ '/HolidayHiatus/acceuil/'~ user.id }}">retour</a>
                </div>

    </div>
{% endblock %}
