{% extends 'main.html.twig' %}

  {% block content %}
<h1>Mise à jour d'un produit</h1>

<form action="" method="POST">
    {{ form_widget(editForm) }}
    <input type="submit"/>
</form>
  {% endblock %}