/*
 * Empty Stylesheet file.
 */

.backgroundBack
{ 
    -fx-background-color: white;
}
.backgroundBackNav
{ 
    -fx-background-color: #D11414;
}
.backgroundFront
{ 
    -fx-background-color: white;
}
.backgroundAdmin
{ 
    -fx-background-color: black;
    -fx-color: white;
}
.backgroundFooter
{ 
    -fx-background-color: #1F3646;
    -fx-color: white;
}
.button {
    -fx-background-color: linear-gradient( #D11414, #D11414);
}
.backgroundBackSocieteNav
{ 
    -fx-background-color: #EA486B;
}
