
<nav class="navbar navbar-expand-xl" style="background-color: #d11414; color:white;" >
    <a class="navbar-brand" href="{{ path('welcome') }}">
        HolidayHiatus
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Acceuil <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">culturel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Loisir</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Aide</a>
            </li>

        </ul>
        <ul class="navbar-nav navbar-right">
            <li><a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span> S'inscrire </a></li>
            <li><a class="nav-link" href="#"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
        </ul>
    </div>
</nav>